* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

nav {
  display: flex !important;
  width: 90%;
  height: 4rem;
  padding-left: 3em;
  justify-content: space-between;
}

nav img {
  width: 7rem;
}

.input-search {
  width: 40rem;
}

.input-search input {
  width: 80%;
  height: 2rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.input-search button {
  height: 34px;
  width: 65px;
  margin-left: -5px;
}

.action-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.row {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.list-preview {
  margin-right: 4rem;
}

.video-box {
  width: 56rem;
}

.video-box iframe {
  width: 100%;
  height: 28rem;
}

.video-box h1 {
  margin-top: 1rem;
  margin-left: 1rem;
}

.owner-description {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  width: 30%;
  align-items: center;
}

.owner-description img {
  width: 30%;
  border: 1px solid;
  border-radius: 56px;
  padding-top: 11px;
}

.owner-description button {
  width: 6rem;
  height: 29px;
  background-color: #cc0000;
  color: #fff;
}

.owner-description span {
  width: 1rem;
  height: 29px;
  margin-left: 10px;
  font-size: 12px;
}

.preview-description {
  padding: 5px;
  margin: 5px;
}
.preview {
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;
}

.preview-description span {
  font-size: 14px;
}

.preview-description p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}
.preview img {
  height: 8rem;
  width: 17rem;
}

.avatars {
  height: 100%;
  display: flex;
}

.avatars img {
  padding: 3px;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.owner-info {
  margin-left: 9px;
}

.owner-info p {
  margin-bottom: 8px;
  font-size: 19px;
  font-weight: 600;
}

.avatar-icon {
    margin-left: 2rem;
  border: 1px solid;
  border-radius: 56px;
}

@media screen and (max-width: 800px) {
  .row {
    display: block;
  }
  .video-box {
    width: 100%;
  }
  .preview {
    margin-top: 1rem;
  }

  nav img {
      width: 5rem;
      margin-left: -2rem;
  }
  .input-search {
      display: none;
  }

  .avatars img {
      margin-left: 1rem;
  }
}
