* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    display: flex !important;
    width: 100%;
    height: 4rem;
    padding-left: 2em;
    padding-right: 2rem;
    justify-content: space-between;
}

nav img {
    width: 7rem;
}

.input-search {
    width: 40rem;
}

.input-search input {
    width: 80%;
}